.publishbody-categories{
    width: 1020px;
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.2rem;
    margin: 0 auto;
    margin-top: 40px;
    
    div{
        box-shadow: 0 3px 0 rgba(0, 0, 0, 1 / 5%);
        text-decoration: none;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #363636;
        font-weight: 500;
        font-size: 18px;

        &:hover{
            color: $myOrange;
        }
    }
}