.publish-small-ad{
    background: white;
}
.publish-small-ad{
    height: 225px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 15% 35%;
    background: white;

    svg{
        margin: 0 auto;
    }

    p{
        margin-top: 20px;
    }
    button{
        display: none;
    }
}

.publish-small-ad:hover{
    svg{
        filter: invert(53%) sepia(40%) saturate(5536%) hue-rotate(1deg) brightness(104%) contrast(104%);
    }
    p{
        display: none;
    }
    button{
        display: block;
        height: 2.1875rem;
        width: 6.875rem;
        font-weight: 600;
        border: none;
        border-radius: .125rem;
        margin: 9px auto 0 auto;
        color: #fff;
        font-size: 1rem;
        background: $myOrange;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
    }
}