.step{
    max-width: 880px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 1/10%);
    text-decoration: none;
    margin-top: 25px;
}

.step-closed{
    width: 880px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 1 / 10% );
    display: flex;
    align-items: center;

    h2{
        font-size: 24px;
        padding: 15px;
        color:#acacac;
        font-weight: 300;
        margin-right: .5%;
    }
    > div{
        position: absolute;
        left: 3%;
        top: .9em;
        color: #999;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        height: 30px;
        width: 87px;
        border-radius: 20px;
        background-color: #eee;
        border: none;
        display: flex;
        align-items: center;
        div{
            background-image: url("../../images/edit-icon.png");
            background-size: contain;
            height: 40px;
            width: 35px;
            background-repeat: no-repeat;
            
        }
    }
}

.step-num{
    height: 24px;
    width: 24px;
    margin-right: 1.3%;
    margin-top: 1px;
    border-radius: 50px;
    color: #0fca80;
    text-align: center;
    border: 2px solid #0fca80;
    font-size: 18px;
    font-weight: 500;   
}
.step-num-closed{
    height: 24px;
    width: 24px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #ccc;
    text-align: center;
    color: #999;
    border-radius: 50px;
    margin-right: 1.3%;
}

.stepone{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    .stepone-firstchild{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        display: flex;
        align-items: center;

        h3{
            margin-right: 20px;
            font-size: 24px;
            color: #000;
            padding-right: 5.5%;
            font-weight: 300;
            margin-bottom: 20px;
        }
    }

    .stepone-secondchild{
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        grid-column-start: 1;
        grid-column-end: 5;

        div{
            height: 152px;
            width: 162px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 1px 2px 4px 0 rgba( 0, 0, 0, 1 / 10%);
            cursor: pointer;
            margin: 0 auto;
            text-align: center;
            padding: 20px;

            &:hover{
                border:1px solid $myOrange;
                svg{
                    filter: invert(53%) sepia(40%) saturate(5536%) hue-rotate(1deg) brightness(104%) contrast(104%);
                }
                p{
                    color: $myOrange;
                }
            }

            p{
                font-size: 16px;
                color: #363636;
                font-weight: 600;
                margin-top: 10px;
            }
        
        }

    }
}

.stepone-display{
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0px 30px;
    height: 60px;
    align-items: center;
    .stepone-display-first{ 
        width: 300px;
        h3{
            font-size: 24px;
            padding: 15px 5%;
            color: #acacac;
            font-weight: 300;
            margin: 0;
        }
    }

    .stepone-display-second{
        color: #999;
        font-weight: 500;
        cursor: pointer;
        height: 30px;
        border-radius: 20px;
        background: #eee;
        width: 87px;
        padding: 5px;
        text-align: center;
    }
}