.steptwo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 70px;

    p{
        margin-top: 55px;
        width: 500px;
        color: #000;
        font-size: 1.1rem;
        margin-top: 5px;
        padding-right: 5%;
    }
    .steptwo-header-firstdiv{
        width: 200px;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        h3{
            color: #000;
            font-size: 24px;
            padding-right: 5.5%;
            margin-bottom: 0;
            font-weight: 300;
            grid-column-start: 2;
            margin: 0;
            margin-right: 10px;
        }
    }
    .steptwo-header-seconddiv{
        margin-top: 20px;
        height: 54px;
        width: 521px;;
        border: 1px solid #c6e1ff;
        border-radius: 3px;
        background: #f3f8ff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0, 1/8%);
        padding: 8px;
        display: flex;
        align-items: center;
        margin-left: 50px;
        h5{
            color: #363636;
            font-size: 14px;
            letter-spacing: .2px;
            font-weight: unset;

            span{
                font-weight: 700;
            }
        }
    }
}

.steptwo-form{
    select{
        cursor: pointer;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        font-size: 14px;
        text-indent: 8px;
        width: 263px;
        text-decoration: none;
    }
}