.stepfour-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 70px;

    p{
        margin-top: 55px;
        width: 500px;
        color: #000;
        font-size: 1.1rem;
        margin-top: 5px;
        padding-right: 5%;
    }
    .stepfour-header-firstdiv{
        width: 300px;
        display: grid;
        grid-template-columns: 5% 95%;
        align-items: center;
        margin-right: 10px;
        h3{
            color: #000;
            font-size: 24px;
            padding-right: 5.5%;
            margin-bottom: 0;
            font-weight: 300;
            grid-column-start: 2;
            margin: 0;
            margin-right: 10px;
        }
    }
    .stepfour-header-seconddiv{
        margin-top: 20px;
        height: 54px;
        width: 521px;;
        border: 1px solid #c6e1ff;
        border-radius: 3px;
        background: #f3f8ff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0, 1/8%);
        padding: 8px;
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        margin-left: 50px;
        h5{
            font-weight: 700;
            font-size: 14px;
            color: #363636;
            letter-spacing: .2px;
            margin: 0;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            height: fit-content;
        }
        div{
            font-size: 14px;
            color: #363636;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            height: fit-content;
        }

        div:first-child{
            background-image: url("../../images/light-bulb-on.png");
            width: 50px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 10px;
            margin-left: 10px;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

.stepfour-form{
    padding: 1% 5%;
    .stepfour-div{
        width: 206px;
        height: 64px;
        margin-bottom: 20px;
        
        h6{
            font-size: 14px;
            font-weight: 300;
            margin: 10px 0px;
        }

        select, input{
            height: 40px;
            font-size: 14px;
            text-indent: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            cursor: pointer;
            width: 100%;
        }
    }

    .stepfour-checkbox{
        display: flex;
        margin: 0;
        input{
            height: 20px;
            width: 20px;
            cursor: pointer;
            background: #fff;
            border-radius: 2px;
            border: 2px solid rgba(0,0,0, .54);
            outline:none;
            margin: 0;
            margin-left: 10px;
        }
        label{
            font-size: 14px;
        }
    }
}
.DateInput_input{
    font-size: 15px;
}
