.stepfive-video{
    font-family: Arial;
    border: dashed #9d9d9d 2px;
    cursor: pointer;
    color: #9d9d9d;
    border-radius: 5px;
    text-align: center;
    width: 234px;
    height: 165px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .stepfive-video-container{
        div{
            background-image: url("../../images/video.jpg");
            width: 30px;
            height: 20px;
            background-repeat: no-repeat;
            margin-right: 20px;
        }
        p{
            margin: 0 0 10px;
            font-size: 14px;
            color: #9d9d9d;
        }
    }
    input{
        height: 165px;
        width: 234px;
        position: absolute;
        z-index: 1;
        text-decoration: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        text-indent: -999em;
    }
    .stepfive-video-img-container{
        // all:unset;
        height: 170px;
        width: 264px;
        position: absolute;
        z-index: 100;
        margin-top: 2px;
        img{
            // all:unset;
            width: 234px;
            height: 165px;
            background: white;
        }
        &:hover{
            img{
                display: none;
            }
        }
        .stepfive-video-deleteContainer{
            position: absolute;
            display: flex;
            top: 5px;
            justify-content: space-between;
            right: 20px;
            width: 85%;
            .stepfive-video-deleteContainer-first, .stepfive-video-deleteContainer-second{
                background: #e8e9e8;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                overflow: hidden;
                div{
                    background-image: url("../../images/delete.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 25px;
                    width: 35px;
                    margin-top: 10px;
                }
            }
            .stepfive-video-deleteContainer-second div{
                background-image: url("../../images/reload-icon.png");
            }
        }
    }
}