.header-upper-two-divs-likedads{
    display: flex;
    align-items: center;
    width: 100% !important;
}

.liked-ads-ul{
    position: absolute;
    min-width: 160px;
    top: 60px;
    text-align: center;
    padding: 24px 20px;
    background-color: #fff;
    width: 250px;
    list-style-type: none;
    color: #363636;
    display: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 1 / 20%),
    0 1px 18px 0 rgba(0, 0, 0, 1 / 12%),
    0 6px 10px 0 rgba(0, 0, 0, 1 / 14%);
    li{
        height: 80px;
        h1{
            margin: 0;
            font-size: 18px;
        }
        p{
            width: fit-content;
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

.header-liked-ads:hover{
        .liked-ads-ul{
            display: block;
        }
}