.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    margin-top: 5px;
  }

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-top: 5px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
  border-right:10px solid blue; 
}

.arrow-right-another{
    border: 1px solid#fff;
    border-width: 0 0 2px 2px;
    width: 40px;
    height: 40px;
    line-height: 0;
    font-size: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    top: 45%;
    right: 20px;
    display: none;
    cursor: pointer;
}
.arrow-left-another{
  border: 1px solid#fff;
  border-width: 0 0 2px 2px;
  width: 40px;
  height: 40px;
  line-height: 0;
  font-size: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 45%;
  left: 20px;
  display: none;
  cursor: pointer;
}