.body,.body-body{
    min-height: calc(100vh - 75px);
    margin-top: 3.5rem;
    background: $myLightGrey;
}
.body-body{
    position: fixed;
    top: 0;
    left: 0%;
    height: 120vh;
    width:100vw;
    position: fixed;
    z-index: -1;
    margin-top: unset !important;
}

.body-container{
    width: 960px;
    margin: 0 auto;
}