.property{
    margin-bottom: 5px;
    width: 100%;
    height: 87px;
    display: grid;
    grid-template-columns: 346px 185px 162px;
    border: 1px solid rgba(0,0,0, .1);
    background: #fdf9c5;

    &:hover{
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1 / 10);

        .property-one-first:first-child{
            transform: scale(1.03) translateZ(0)
        }
        .property-three-update p{
            visibility: hidden;
        }
        .property-three-update p::after{
            content: "לחצו לפרטים";
            font-weight: 600;
            color: $myOrange;
            visibility: visible;
        }

        .property-three-newtab p::after{
            content: "פתיחה בטאב חדש"
        }
        .property-one-heart-seconddiv{
             background-image: url("../../images/adphoto-numbers.png");   
             background-repeat: no-repeat;
             height: 39px;
             width: 80px;
             position: absolute;
             top: 5px;
             right: 5px;
             cursor: pointer;
             p{
                 position: absolute;
                 top: 18px;
                 font-size: 12px;
                 font-weight: 700;
                 right: 40px;
                 display: block;
             }
        }
    }
}

.property-one-heart-seconddiv p{
    display: none;
}

.property-one{
    grid-column-start: 1;
    grid-column-end: 2;
    // background: yellow;
    border-left: 1px solid rgba(0,0,0, .1);

    .property-one-first{
        width: 110px;
        height: 66px;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        position: relative;

        img{
            cursor: pointer;
            height: 100%;
            width: 100%;
        }

        // &:first-child{
        //     background-image: url("../../images/example.jpeg");
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     border-radius: 3px;

        // }

        .property-one-heart{
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            position: absolute;
            top: 0;
            .property-one-heart-img{
                background-image: url("../../images/heart.png");
                background-size: contain;
                height: 50px;
                width: 50px;
                background-position: 25px -8px;
                background-repeat: no-repeat;
            }
        }
    }

    .property-one-second{
        display: inline-block;
        width: 215px;
        padding: 26px 10px;
        height: 100%;

        .property-one-second-secondp{
            font-size: 14px;
        }
    }
}


.property-two{
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 186px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid rgba(0,0,0, .1);
    height: 85px;
    width: 100%;
}



.property-three{
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0 5px 0 0;
    justify-content: flex-start;
    text-align: left;
    height: 85px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 30% 25%;
    
    .property-three-newtab{
        padding: 3px 0 4px 7px;
        div{
            background-image: url("../../images/open-in-new-tab-icon-12.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 13px;
            width: 20px;
            float: left;
        }
        p{
            font-size: 13px;
            color: #999;
            display: inline-block;
        }
    }

    .property-three-price{
        margin-top: 5px;
        font-size: 16px;
        padding: 0 0 0 15px;
    }

    .property-three-update{
        padding: 0 0 0 15px;
        height: 13px;
        font-size: 13px;
        color: rgba(0,0, 0, .5);
        p::before{
            content: "עודכן היום"
        }
    }
}


.showImage{
    position: fixed;
    top: 10%;
    right: 35%;
    background-color: #363636;;
    height: 800px;
    width: 700px;
    z-index: 999;
    border-top: 20px solid #3F3F3F;
    border-bottom: 20px solid #3F3F3F;
    border-left: 10px solid #3F3F3F;
    border-right: 10px solid #3F3F3F;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 20 / 10%);

    &:hover{
        .arrow-right-another,.arrow-left-another{
            display: block;
        }
    }

    img{
        width: 80%;
        height: 100%;
        margin: 0 70px 0 70px;
    }

    .showImage-close{
        background: #242424;
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 0px;
        left: 0;
        height: 35px;
        width: 130px;
        border-radius: 4px;
        text-align: center;
        padding: 10px;
    }
}

.showImage-div{
    color: #fff;
}

.showImage-blackscreen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: #373737;
}